.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: rgba(97, 94, 240, 0.1);
  border-radius: 1em;
  margin-bottom: 1.4rem;
  padding: 0 0 0 1rem;
}

.container > img {
  height: 2rem;
  width: 2rem;
}

.container > input {
  outline: none;
  border: none;
  background: transparent;
  display: inline-block;
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-left: 1.5rem;
  padding: 1.6rem 0;
  color: rgba(28, 28, 28, 0.5);
}
