.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1.4rem;
}

.container > input,
.container > textarea {
  outline: none;
  border: 1px solid #8692a6;
  border-radius: 0.6rem;
  font-size: 1.4rem;
  padding: 2rem 3rem;
  font-family: inherit;
  color: #696f79;
  width: 100%;
}
