.container > button {
  border-radius: 0.6rem;
  font-size: 2rem;
  font-weight: bold;
  border: none;
  padding: 1.5rem 1rem;
  cursor: pointer;
  transition: 0.5s;
  background-color: #1c5a7c;
  color: #ffffff;
  border: 2px solid transparent;
  color: #ffffff;
  width: 100%;
}

.container > button:hover {
  border: 2px solid #ebeaed;
  background-color: #ffffff;
  color: #1c5a7c;
}

.loading {
  opacity: 0.4;
}
