button {
  background-color: #615ef0;
  text-align: center;
  border-radius: 1rem;
  font-size: 2rem;
  line-height: 2.4rem;
  border: none;
  width: 100%;
  padding: 1.8rem 0;
  color: #ffffff;
}

button:hover {
  cursor: pointer;
}

.loading {
  border: 1px solid rgba(28, 28, 28, 0.1);
  color: rgba(28, 28, 28, 0.1);
}
