.container {
  display: flex;
  margin: 2em 0;
  justify-content: flex-end;
  align-items: center;
}

.username > a {
  text-decoration: none;
  font-size: 1.6rem;
  color: #1c5a7c;
  font-weight: bold;
  cursor: pointer;
  display: block;
  margin-right: 1.5rem;
}

.logout > button {
  border: none;
  color: #ffffff;
  border: none;
  border-radius: 0.6rem;
  font-size: 1.6rem;
  background-color: #1c5a7c;
  padding: 0.4rem 1rem;
  border: 2px solid transparent;
  transition: 0.5s;
}

.logout > button:hover {
  color: #1c5a7c;
  background-color: #ffffff;
  border: 2px solid #ebeaed;
  cursor: pointer;
}
