.container {
  display: flex;
  padding: 1em 2em;
  justify-content: flex-end;
  align-items: center;
  border: 1px solid #000000;
}

.username > a {
  text-decoration: none;
  font-size: 1.6rem;
  color: #000000;
  cursor: pointer;
  display: block;
  margin-right: 1.5rem;
  transition: 0.7s;
}

.username > a:hover {
  color: #cb9647;
}

.logout > button {
  border: none;
  color: #ffffff;
  border: none;
  border-radius: 0.6rem;
  font-size: 1.6rem;
  background-color: #cb9647;
  padding: 0.6rem 1.2rem;
}
