.container {
  max-width: 25em;
  padding: 2em;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  /* min-height: 100vh; */
}

.addProject {
  margin-bottom: 2em;
  padding: 0;
  width: 100%;
}
.addProject > button {
  border-radius: 0.6rem;
  font-size: 1.4rem;
  border: none;
  background-color: #cb9647;
  color: #ffffff;
  padding: 0.6rem 1.2rem;
  width: 100%;
  cursor: pointer;
}

.loading,
.error,
.noprojects {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.loading > p,
.noprojects > p {
  color: #cb9647;
}

.loading > p,
.error > p,
.noprojects > p {
  font-size: 1.6rem;
  font-weight: bold;
}

.error > p {
  color: red;
}

.projectcontainer {
  margin-bottom: 2em;
}

/* background color: #F3F3F3 */
