.container {
  max-width: 34.8em;
  min-width: 34.8em;
  min-height: 100vh;
  max-height: 100vh;
  margin-right: 3em;
  padding: 0 1em;
  background-color: #f3f3f3;
  /* overflow-y: auto;
  scroll-behavior: smooth; */
}

.addProject {
  padding: 2em 1em;
  width: 100%;
  background-color: #f3f3f3;
  z-index: 2000;
  position: sticky;
  top: 0;
}

.addProject > button {
  border-radius: 0.6rem;
  font-size: 1.4rem;
  font-weight: 700;
  border: none;
  background-color: #1c5a7c;
  color: #ffffff;
  padding: 0.6rem 1.2rem;
  width: 100%;
  cursor: pointer;
}

.loading,
.error,
.noprojects {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.loading > p,
.noprojects > p {
  color: #cb9647;
}

.loading > p,
.error > p,
.noprojects > p {
  font-size: 1.6rem;
  font-weight: bold;
}

.error > p {
  color: #8692a6;
}

.projects {
  margin: 0 1em;
}

.projects > div:not(:last-child) {
  margin-bottom: 2em;
}

/* background color: #F3F3F3 */
