.container {
  max-width: 34.8em;
  min-width: 34.8em;
  margin-right: 3em;
  padding: 2em;
  background-color: #f3f3f3;
}

.addProject {
  margin-bottom: 2em;
  padding: 0;
  width: 100%;
}
.addProject > button {
  border-radius: 0.6rem;
  font-size: 1.4rem;
  border: none;
  background-color: #1c5a7c;
  color: #ffffff;
  padding: 0.6rem 1.2rem;
  width: 100%;
  cursor: pointer;
}

.loading,
.error,
.noprojects {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.loading > p,
.noprojects > p {
  color: #cb9647;
}

.loading > p,
.error > p,
.noprojects > p {
  font-size: 1.6rem;
  font-weight: bold;
}

.error > p {
  color: red;
}

.projectcontainer {
  margin-bottom: 2em;
}

/* background color: #F3F3F3 */
