.container {
  max-width: 190.2em;
  display: flex;
  justify-content: flex-start;
}

.modalcontainer {
  background: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 500;
}

.taskgroups {
  display: flex;
}

.taskgroups > div:not(:last-child) {
  margin-right: 3em;
}

.testdiv {
  min-width: 1500px;
  block-size: fit-content;
}
